<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @walk.dog.name %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @walk.datetime %>
</p>

<p>
  <strong>Start Address:</strong>
  <%= @walk.start_address %>
</p>

<p>
  <strong>Finish Address:</strong>
  <%= @walk.finish_address %>
</p>

<p>
  <strong>Distance:</strong>
  <%= Geocoder::Calculations.distance_between(@walk.start_address, @walk.finish_address)%>
</p>

<%= link_to 'Edit', edit_walk_path(@walk) %> |
<%= link_to 'Back', walks_path %>
